<div class="movie-card text-center well">
    <h5>
      {{ movie.name }}<br>
      <small>({{ movie.releaseDate }})</small>
    </h5>
    <toto-movie-rating [(ngModel)]="movie.rating" [readonly]="true"></toto-movie-rating>
    <!--<i class="fa fa-star" aria-hidden="true" style="color:gold;"></i>
    <i class="fa fa-star" aria-hidden="true" style="color:gold;"> </i>
    <i class="fa fa-star" aria-hidden="true" style="color:gold;"></i>
    <i class="fa fa-star-o" aria-hidden="true" style="color:gold;"></i>
    <i class="fa fa-star-o" aria-hidden="true" style="color:gold;"></i>-->
</div>
